<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmazonBookstore</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>
    @*App is using Bootstrap*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top text-white bg-dark">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand ml-2">Bookstore</span>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="col-6 text-right">
                <vc:cart-summary/>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @*Add animation effects*@
    <script>window.sr = ScrollReveal();
        @*sr.reveal('.navbar', {
            duration: 2000,
            origin: 'top',
            distance: '50px'
        });*@
        @*sr.reveal('.showcase-left', {
            duration: 2000,
            origin: 'bottom',
            distance: '100px'
        });*@
        sr.reveal('.showcase-right', {
            duration: 1000,
            origin: 'right',
            distance: '100px'
        });
        sr.reveal('.page-number', {
            duration: 1000,
            origin: 'bottom',
            distance: '100px'
        });</script>
</body>
</html>
